/* Common styles */
body{
	background: #eaeaea;
}
@font-face {
    font-family: 'TeX Gyre Adventor';
    font-weight: lighter;
    ;
    font-style: normal;
    src: url('../fonts/texgyreadventor-regular.otf');
}
@font-face {
    font-family: 'TeX Gyre Adventor Bold';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/texgyreadventor-bold.otf');
}

.instruction {
    font-family: 'TeX Gyre Adventor Bold';
    font-weight: lighter;
    font-style: italic;
    color: #868686;
    font-size: 1.5em;
    text-align: left;
    padding-left: 5%;
    margin-bottom: 4vh;
}
.display {
    color: #626262;
    text-align: left;
}
.voffset-10{
	margin-top: 10px;
}
.caps{
	text-transform: uppercase;
}
.capitalize{
	text-transform: capitalize;
}
/* navbar styles */
.navbar-default{
	background: #fff;
}
a.navbar-brand {
    padding: 5px 15px !important;
}
ul.dropdown-menu {
    background: #b86b80;
}
.navigation {
    background-color: #B86B80;
    padding-bottom: 2vh;
    height: 9vh;
}
img.heading_icon {
    text-align: left;
    padding-top: 1.5vh;
    height: 8vh;
    float: left;
}
.nav li a{
	color:#fff !important;
}
.button.next {
    margin-top: 4vh;
    margin-bottom: 3vh;
    width: 20vw;
    font-size: 1rem;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 10px;
    background-color: #7C7C7C;
    color: #fff;
    font-size: 1.2em;
}
.progress-icon {
 	height: 20px;
    background-color: transparent;
    margin-bottom: 100px;
    /*padding-bottom: 100px;*/
}
/* portfolio general rules */
.card{
	background: #fff;
	padding-left: 15px;
	padding-right: 15px;
}
/*.card div{
	padding-right: 0px;
	padding-left: 0px;
}*/
img#dp-image{
	height: 310px;
	width: 100%;
}
.works img{
	object-fit: cover;
}
div.dynamic-form-skill, div.dynamic-form-education, div.dynamic-form-experience, div.dynamic-form-fa{
	display: none;
}
.mid-blocks{
	padding-left: 20px !important;
	padding-right: 20px !important;
}